@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: hsl(0, 0%, 96%);
    background: hsl(0, 0%, 4%);
  }
}
