@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-accent text-accent-content;
}

/* Dunno if I'll keep this */
/* Scrollbars start */

* {
  scrollbar-width: thin;
  /* scrollbar-color: hsl(var(--p)) hsl(var(--n)); */
  scrollbar-color: hsl(var(--p)) transparent;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

/*
*::-webkit-scrollbar-track {
  background: hsl(var(--n));
}
*/

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--p));
  border-radius: 0.25rem;
  /* border: 3px solid hsl(var(--n)); */
}

/*
 * Overrides daisyui's styles
 * We don't need it as our :root is not scrolling
 */
:root:has(
    :is(
        .modal-open,
        .modal:target,
        .modal-toggle:checked + .modal,
        .modal[open]
      )
  ) {
  scrollbar-gutter: auto !important;
}
/* Scrollbars end */

/* Remove daisyui's default styles */
.modal::backdrop {
  background-color: #0000;
  animation: none;
}

.modal .modal-backdrop {
  background-color: #0006;
}
